
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 2px;
}

/* NAVBAR */

.navbar{
    background-color: #C083B9;
    width: 100%;
    height: 85px;
}

.navbar_logotipo {
    text-align: center;
    padding: 5px;
}

/* -------------------------------------------------------------------------------- */


/* HEADER */
.header {
    background-image: url(./img/backgroud_header_01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    width: 100%;
    height: 500px;
    color: #ffffff;
}

.container_header {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px;
    flex-direction: column;
}

/*.header_container_imagem{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 40%;
}*/

.header_maravilhosa_img{
    width: 90%;
    height: 220px;
    margin-left: 20px;
    margin-top: 50px;
}

.header_titulo {
    width: 90%;
    margin: 5px 10px 5px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* --- BOTAO --- */

.header_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background: #7F479B;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 40px;
}

.header_button:hover {
    background-color: #2e1842;
    color: #ffffff;
    transition: background-color .5s;
}



/* SECAO Maravilhosa */


.maravilhosa {
    background-color: #fad8e5;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
}

.container_maravilhosa {
    text-align: center;
    padding: 0.5%;
}

.maravilhosa_titulo{
    color: #ea4c89;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
}

.maravilhosa_boxBorder{
    border: 1px solid #674582;
    margin: 42px;
}

.boxBorder_texto{
    margin: 30px;
    color: #462755;
    text-align: center;
}

.container_suaHistoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #674582;
}

.suaHistoria_imagem{
    width: 80%;
    margin-bottom: 30px;
}

.suaHistoria_texto{
    width: 100%;
}

.suaHistoria_titulo{
    color: #462755;
    padding-bottom: 10px;
}

.suaHistoria_paragrafo{
    padding-bottom: 10px;
}




/* AUTORA */



/* SECAO Recado */



/* FOOTER */


/* MEDIA QUERY */


